/* ############ General style elements  ###########*/
html {
  overflow-y: scroll;
  overflow:auto;
}

div{
	display: block;
}

li {
	display: inline-block;
	vertical-align: middle;
}

a{
	text-decoration:none;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

p {
	line-height: 1.3;
}


.google_search_results{
	width: 100%; height: 100%;
	margin: 0;
}

/* ############ Style elements from the navbar  ###########*/

.navbar{
	width: 100%; height: 60px;
	position: relative;
	top:0; left:0;
	background-color: rgb(241, 241, 241);
}

.link_navbar:hover, .link_footer:hover{
	color: rgb(51,51,56);
}

.link_navbar{
	position:relative;
	margin-left: 12px;
	bottom: 8px;
	color: rgb(63,87,95);
}

.profile_options{
	position:absolute;
	top: 15px;
	right: 20px;
}

#logo{
	width: 99px; height: 34px;
	position:absolute;
    vertical-align: middle;
	top: 15px;
	left: 15px;
}

#img_profile, #img_notifications, #img_applications{
	position:relative;
	bottom: 6px;
	margin-left: 12px;
}
#img_profile{
	width: 32px; height: 32px;
	border-radius: 100%;
}

#img_notifications{
	width: 23px; height: 23px;
	border-radius: 100%;
}

#img_applications{
	width: 17px; height: 17px;
}

.search_form{
	position: absolute;
	top: 12px;
	left: 130px;
	width: 500px;
	height:38px;
	background-color: white;
	border: 1px solid rgb(217,217,217);
}

.search_form:hover{
	border: 1px solid rgb(77,144,254);
}

.search_query{
	border: none
	position: relative;
	width: 100%;
	height: 25px;
	vertical-align: center;
}

#search_query_input{
	background-color: transparent;
	width: 80%;
	height: 20px;
	position: relative;
	font-family: Arial, sans-serif;
	font-size: 15px;
	display:inline;
	top: 8px;
	left: 4px;
	border: none;
}

#mic, #keyboard, #search_button{
	vertical-align: center;
	display: inline-block;
	float:right;
	
}

#mic{
	width: 18px; height: 25px;
	position: relative;
	top: 5px;
	right: 0px;
}

#keyboard{
	width: 21px; height: 12px;
	position: relative;
	top: 13px;
	left: -50px;
}

#search_button{
	position: relative;
	border: 1px solid rgb(66,133,244);
	background-color: rgb(66,133,244);
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 40px;
	width: 	40px;
	top: -1px;
	right: -70px;
}

#search_button:hover{
	background-color: rgb(59,120,231);
	border: 1px solid rgb(59,120,231);
	background-image: url(../images/search_hover.png);
}

/* ############ Style elements from the results with the content  ###########*/

.content{
	background-color: white;
	position: relative;
	top: 0px;
	width: 100%; height: 75%;
}

.search_options{
	position:relative;
	top: 18px;
	left: 120px;
}

.search_options_navbar{
	width: 100%; height: 60px;
	position: relative;
	background-color: white;
	border: 1px solid rgb(235,235,235);
}

.search_results{
	width: 100%; height:80%;
	padding-left:120px;
	background: white;
	position: relative;
}

.link_search_options{
	position:relative;
}

.search_option{
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: rgb(119,119,123);
}

.search_option:hover{
	color: rgb(34,40,54);
}

.search_options a{
	padding: 17.5px 10px;
}

#active{
	color: rgb(66, 133, 244);
	font-weight: bold;
	border-bottom: 3px solid rgb(66, 133, 244);
}

.search_options li > input[type="submit"]{
	border: none;
	background-color: transparent;
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: rgb(119,119,119);
	width: 180px; height:28px;
}

.search_options li > input[type="submit"]:hover{
	border: 1px solid rgb(198,198,198);
	background-color: rgb(246, 246, 246);
	font-family: Arial, sans-serif;
	border-radius: 2px;
	font-size: 14px;
	cursor: pointer;
}

.search_options_navbar input[type="submit"]{
	border: 1px solid rgb(217,217,217);
	background-color: rgb(244, 244, 244);
	font-family: Arial, sans-serif;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 2px;
	font-size: 14px;
	cursor: pointer;
	float: right;
	position:relative;
	display:inline-block;
	height: 30px;
}

.button_options{
	position:relative;
	float:right;
	right: 40px;
	top: -10px;
}

#settings{
	background-image: url(../images/gear.png);
	width: 80px;
}

#show_private_results{
	background-image: url(../images/user.png);
	background-color: rgb(231, 231, 231);
	border-radius: 2px 0px 0px 2px;
	width: 50px;
}

#hide_private_results{
	background-image: url(../images/world.png);
	border-radius: 0px 2px 2px 0px;
	left: -5px;
	margin-right: 10px;
	width: 50px;
}

#settings:hover{
	border: 1px solid rgb(198,198,198);
	background-color: rgb(246, 246, 246);
}

/* ############# Style for search results elements ######## */

.search_results > span{
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: rgb(128,128,128);
	position: relative;
	top: 10px;
	left: 8px;
}

.search_result_link {
	position:relative;
	top: 20px;
	left: 8px;
}

.search_result_link a{
	font-family: Arial, sans-serif;
	font-size: 18px;
	font-weight:normal;
	text-decoration:none;
	color: rgb(26,13,171);
}

.search_result_link a:hover{
	text-decoration:underline;
}

.summary_result{
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: rgb(0,102,33);
}

.search_result_link p{
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: rgb(84,84,89);
}
/* ############ Style with related searches content #######*/
.related_searches{
	background-color: white;
	position: relative;
	top: 25px;
	width: 100%; height: 10%;
}
.related_searches > div{
	width: 40%; height: 170px;
	margin-left: 120px; 
	border-top: 1px solid rgb(238,238,238);
	border-bottom: 1px solid rgb(238,238,238);
}

.related_searches > div > p {
	font-family: Arial, sans-serif;
	font-size: 18px;
	color: rgb(128,128,128);
}

.related_searches a {
	color: rgb(26, 13, 171);
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 13.5px;
}

.related_searches a:hover {
	text-decoration: underline;
}

.related_searches ul > li > ul{
	margin-right: 20px;
}

.related_searches ul > li > ul > li{
	display: block;
	margin-top: 8px;
}

/* ########### Style elements with the different result searches ###### */
.result_pages{
	background-color: transparent;
	position: relative;
	top: 50px;
	width: 100%; height: 10%;
}

.result_pages img, .result_pages ul{
	margin-left: 220px;
}

.result_pages a {
	color: rgb(66, 133, 244);
}

.result_pages a:hover{
	text-decoration: underline;
}

#selected_page{
	color: black;
}

#selected_page:hover{
	text-decoration:none;
}

.result_pages > ul > li:first-child{
	margin-left: 40px;
}
 .result_pages > ul > li:last-child{
	margin-left: 60px;
 }

.result_pages > ul > li {
	display: inline;
	margin-left: 10px;
}

/* ############ Style elements from the footer   ###########*/

.footer{
	width: 100%; height: 65px;
	position: relative;
	top: 80px;
	background-color: rgb(242,242,242);
	border: 1px solid rgb(228,228,228);
}

#circle {
	display: inline-block;
    width: 9px;
    height: 9px;
    -webkit-border-radius: 4.5px;
    -moz-border-radius: 4.5px;
    border-radius: 4.5px;
    background: rgb(158, 158, 158);
}

.date_localization{
	display:inline;
	margin-left: 2px;
	text-decoration:none;
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: rgb(170,170,170);
}
	
.footer_options{
	float:left;
	margin-left: 120px;
	margin-top: 10px;
}

.footer_options ul li {
	margin-right: 14px;
}

.link_footer{
	position:relative;
	color: rgb(102,102,102);
}